<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="content">
	<select id="Main_C_list"
		resultType="kr.co.forearlybird.domain.Content">
		select * from content
	</select>

	<select id="C_list_M" parameterType="java.lang.Integer"
		resultType="kr.co.forearlybird.domain.Content">
		select * from content
		where <![CDATA[brd_id >(#{idx})*100 and brd_id<(#{idx}+1)*100 ]]>
	</select>

	<update id="C_recommand" parameterType="java.lang.Integer">
		update content
		set
		cnt_like
		= cnt_like + 1
		where cnt_id = #{cnt_id}
	</update>

	<update id="C_view" parameterType="java.lang.Integer">
		update content
		set cnt_hit
		=
		cnt_hit + 1
		where cnt_id = #{cnt_id}
	</update>

	<select id="C_connectlink" parameterType="java.lang.Integer"
		resultType="java.lang.String">
		select cnt_connectlink from content where cnt_id =
		#{cnt_id}
	</select>

	<select id="menu_btn" parameterType="java.util.Map"
		resultType="kr.co.forearlybird.domain.Content">
		select * from content where brd_id =
		(#{brd_id}*100+#{brd_num})
	</select>

	<insert id="share_make" parameterType="java.util.Map">
		insert into
		content(brd_id,cnt_title,cnt_thumbnail,cnt_connectlink,cnt_datetime,mem_userid)
		values(#{share_brd_id},#{share_title},#{share_image},#{share_link},now(),#{share_mem_userid})
	</insert>

	<select id="C_share_list" parameterType="java.lang.Integer"
		resultType="kr.co.forearlybird.domain.Content">
		select * from content where brd_id = #{brd_id}
	</select>

	<select id="getContent" parameterType="java.lang.Integer"
		resultType="kr.co.forearlybird.domain.Content">
		select * from content where cnt_id = #{cnt_id}
	</select>

	<update id="deleteContents" parameterType="java.util.Map">
		UPDATE content SET
		cnt_del=#{cnt_del} WHERE cnt_id=#{cnt_id}
	</update>

	<insert id="makeContent" parameterType="java.util.Map">
		<if test="mem_userid!=null and mem_userid!=''">
			insert into
			content(brd_id,cnt_title,cnt_thumbnail,cnt_connectlink,cnt_datetime,mem_userid)
			values(#{brd_id},#{cnt_title},#{cnt_thumbnail},#{cnt_connectlink},now(),#{mem_userid})
		</if>
		<if test="mem_userid==null or mem_userid==''">
			insert into
			content(brd_id,cnt_title,cnt_thumbnail,cnt_connectlink,cnt_datetime)
			values(#{brd_id},#{cnt_title},#{cnt_thumbnail},#{cnt_connectlink},now())

		</if>
	</insert>
</mapper>
